<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>makeTeams</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/JavaScript">
        var instance = axios.create({
            baseURL: "http://localhost:5000" //use your express server's url(address) and port here
        });
        function randomShuffle() {
            console.log('hello');
            console.log(axios);
            instance.get("/getPlayers").then(res => console.log(res));
        }
    </script> -->
  </head>

  <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="/">WeebzS2Veebz</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/playerList">Player List</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/addPlayer">Add a Player</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/selectPlayers">Make Teams</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/game">Go to Game</a>
                        </li>
                    </ul>
                </div>
            </nav>


    <div class="container">
      <div class="starter-template">
        <div id='title' style="display: flex; flex-direction:row;">
            <div style="display: flex; justify-content: center;">
                <h1>Game</h1>
            </div>
            <div style="display: flex;align-self: center;margin-left: auto;">
                <form method="get" action="/unassignPlayersInGame" style="margin-right: 4px">
                    <button class="btn btn-secondary">Unassign players</button>
                </form>
            </div>
        </div>
        <% if (players.length < 12) { %>
            <p style="color:red">
                Please invite more players into the game.
            </p>
        <% } %>
        <% if (possibilities != null) { %>
            <p style="text-align: left;">Possibilities: <%= possibilities %></p>
            <p style="text-align: left;">MMR Difference: <%= skill_difference %></p>
        <% } %>
        <div class="players" style="margin-top:30px">
            <table class="table" style="margin-bottom: 60px">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                    </tr>
                </thead>
                <tbody>
                    <%for (let i = 0; i < playersInTeam1.length; i++) {%>
                        <tr>
                            <!-- <td style="display: inline-flex;">
                                <form method="post" action="/switchPlayerFromTeam" style="margin-right: 4px">
                                    <input type="hidden" name="id" value="<%=playersInTeam1[i].id%>"/>
                                    <input type="hidden" name="team" value="<%=playersInTeam1[i].team%>"/>
                                    <button type="submit" class="btn btn-primary" style="paddingTop: 20px;">Switch</button>
                                </form>
                                <form method="post" action="/unassignPlayerFromTeam">
                                    <input type="hidden" name="id" value="<%=playersInTeam1[i].id%>"/>
                                    <input type="hidden" name="team" value="<%=playersInTeam1[i].team%>"/>
                                    <button type="submit" class="btn btn-primary" style="paddingTop: 20px;">Unassign</button>
                                </form>
                            </td> -->
                            <td scope="row"><%= i+1 %></td>
                            <td><%= playersInTeam1[i].fname %> <%= playersInTeam1[i].lname %></td>
                            <td><%= playersInTeam1[i].currPos %></td> 
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <h3 style="text-align: center; color:red; padding-bottom: 60px;">VS</h3>
            <table class="table" style="margin-bottom: 60px">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                    </tr>
                </thead>
                <tbody>
                    <%for (let i = 0; i < playersInTeam2.length; i++) {%>
                        <tr>
                            <td scope="row"><%= i+1 %></td>
                            <td><%= playersInTeam2[i].fname %> <%= playersInTeam2[i].lname %></td>
                            <td><%= playersInTeam2[i].currPos %></td> 
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <div id="selectedPlayers">
                <h2 style="text-align: left">Unassigned Players: </h2>
                <table class="table">
                    <tbody style="text-align: left;">
                        <%for (let i = 0; i < unassignedPlayers.length; i++) {%>
                        <tr>
                            <td style="display: inline-flex; text-align:left">
                                <p>
                                    <form method="post" action="/removePlayerFromGame" style="text-align: left;">
                                        <input type="hidden" name="id" value="<%=unassignedPlayers[i].id%>"/>
                                        <button type="submit" class="btn btn-danger" style="margin-right: 12px;">Remove</button>
                                    </form>
                                    <div style="margin-top: 7px;">
                                        <%= unassignedPlayers[i].fname %> <%= unassignedPlayers[i].lname %>: 
                                        <%= unassignedPlayers[i].preferred_position %><% if (unassignedPlayers[i].alternative_positions != null) { %>,<% } %><%= unassignedPlayers[i].alternative_positions %>
                                    </div>
                                </p>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <table class="table" id="shuffleBtns">
                <!-- <td id="randomShuffleBtn">
                    <form method="post" action="/randomShuffle">
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Randomize</button>
                    </form>
                </td> -->
            <tr>
                <td id="balanceAndPositionalShuffleBtn">
                    <form method="post" action="/balanceShuffle">
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Positional Shuffle With MMR</button>
                    </form>
                </td>
            </tr>
                <tr>
                <td id="balanceAndPositionalShuffleBtn">
                    <form method="post" action="/getMostBalancedTeam">
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Most Balanced Shuffle</button>
                    </form>
                </td>
                </tr>
                <tr>
                <td id="preferredPositionalShuffleBtn">
                    <form method="post" action="/preferredPositionalShuffle">
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Positional Shuffle</button>
                    </form>
                </td>
                </tr>
                <tr>
                <td id="coedPositionalShuffleBtn">
                    <form method="post" action="/coedPositionalShuffle">
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Co-ed Positional Shuffle</button>
                    </form>
                </td>
                </tr>
                <!-- <td id="positionalShuffleBtn">
                    <form method="post" action="/positionalShuffle">
                        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Positional Shuffle</button>
                    </form>
                </td> -->
               
              
            </table>
        </div>
      </div>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
